@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /*VARIABLES*/
  --primary: #011E2B;
  --secondary: #3772da;
  --accent: #5a8be1;
  --white: #FFFFFF
  --offWhite: #D9D9D9
  --background: #3772da
  --txtColor: #000000
}


body {
  color: rgb(var(--foreground-rgb));
}
html{
  background-color: #DCDBBE;
  overflow-y: hidden;

}

/*LANDING PAGE*/

.landing-page{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}
.landing-circle{
  background-color: #011E2B;
  border-radius: 50%;
  height: 1000px;
  width: 1000px;
  margin-top: -100px;
  margin-left: -200px;
  position: absolute;
}

.landing-circle.active{
  margin-left: 15vw; /* Add this line */
  transition: all 0.5s ease;
  text-align: center;
}

.landing-tittle{
  display: flex;
  color: #D9D9D9;
  font-size: 4vw;
  margin-top: 5vh;
  margin-left: 18vw;

}

.landing-logoWrp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin: auto;
  margin-top: 20vh;
  margin-left: 20vw;
}

.landing-btnWrp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 13vw;
  margin: auto;
  margin-top: 2vh;
  margin-left: 17vw;
}
.landing-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 5vw;
  background-color: #10471a;
  color: #D9D9D9;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  font-weight: 600;
  text-align: center;
}
.landing-drawWrp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 13vw;
  margin: auto;
  margin-top: 2vh;
  margin-left: 60vw;
}
.login-logoWrp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin: auto;
  margin-top: 20vh;
}
.login-tittle{
  display: flex;
  color: #D9D9D9;
  font-size: 3vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}
.Login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: 35vw;
  border-radius: 20px;
  margin: auto;
  margin-top: 8vh;

}
.logIn-btnWrp{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 13vw;
  margin: auto;
  margin-top: 0vh;
}
.logIn-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 4vw;
  background-color: #10471a;
  color: #D9D9D9;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  font-weight: 600;
  text-align: center;
}


/*NAV BAR*/

.NavContainer{
  background-color: var(--primary);
  height: 100vh;
  width:15vw;

}
.nav-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background-color: #D9D9D9;
  margin: auto;
  margin-top: 2vh;
}
.nav-header h1{
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
}
.nav-tittle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 5vh;
  margin-top: 2vh;
  font-size: 1.5vw;
  color: white;
}
.nav-divider{
  display: flex;
  width: 11vw;
  height: 2px;
  background-color: white;
  justify-content: center;
  margin-left: 2vw;
  margin-top: 2vh;
}
.nav-links{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 15vw;
  margin-top: 2vh;
}

.nav-item:hover{
  font-weight: 600;
  cursor: pointer;
}

.nav-item{
  display: flex;
  align-items: center;
  width: 15vw;
  height: 5vh;
  margin-left: 2vw;
  margin-top: 1vh;
  font-size: 1.5vw;
  color: white;
}
.nav-item.active{
  font-weight: 600;
  color: var(--primary);
  background-color: #DCDBBE;
  width: 12vw;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translateX(1.5vw);
  transition: all 0.3s ease;
  padding: 10px;
}
.nav-item p{
  margin-left: 1vw;
}

.nav-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vh;
}

.logOut-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 10vw;
  height: 5vh;
  margin-top: 2vh;
  font-size: 1.5vw;
  color: white;
  background-color: var(--secondary);

}
.logOut-btn:hover{
  background-color: var(--accent);
  cursor: pointer;

}
.auth-container{
  display: flex;
  margin-left: 3vw;
}

.signupbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3772da;
  border-radius: 25px;
  text-transform: none;
  height: 5vh;
  width: 20vw;
}

.signupbtn:hover {
  background-color: var(--accent);
  cursor: pointer;
}

/*LOGIN PAGE*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logpagelink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


/*SIGNUP PAGE*/
.signcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.loginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3772da;
  border-radius: 25px;
  text-transform: none;
  height: 5vh;
}

.loginbtn:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.formcontainer {
  height: 70vh;
  width: 30vw;
  align-items: center;
  align-self: center;
  margin-top: 30px;
  color:#D9D9D9;
}
.formcontainer,
.formcontainer input {
  color: white;
}

/*HOME PAGE*/
.home-tittle{
  display: flex;
  margin-left: 5vw;
  color: var(--txtColor);
  font-size: 3vw;
  margin-top: 5vh;


}
.home-cardContainer{
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 80vw;
  margin-top: 5vh;
  margin-left: 3vw;
  background-color: #D9D9D9;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.campo-tittle{
  display: flex;
  margin-left: 5vw;
  color: var(--txtColor);
  font-size: 3vw;
  margin-top: 5vh;
}
.campo-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* Add this line */
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 80vw;

  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}
.cuadrante-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}
.campo-main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 80vw;
  margin-top: 5vh;
  margin-left: 3vw;
  background-color: #D9D9D9;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.campo-generalInfo{

}

.campo-gi-header{
  height: 20vh;
  width: 50vw;
  border-radius: 20px;
  background-color: #3772da;
  padding: 1vw;
  margin-top: 2vh;
}
.campo-gi-header h1{
  font-size: 2.5vw;
  font-weight: 600;
}
.campo-gi-header h3{
  font-size: 1.5vw;
  font-weight: 400;
}
.campo-gi-header p{
  font-size: 1vw;
  font-weight: 300;
}