@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /*VARIABLES*/
  --primary: #080b32;
  --secondary: #3772da;
  --accent: #5a8be1;
  --white: #FFFFFF
  --offWhite: #F5F5F5
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to right, #DECBA4, #3E5151);
}



/*NAV BAR*/

.NavContainer{
  background-color: var(--primary);
  height: 100vh;
  width:15vw;
}
.nav-header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vh;
}
.nav-header h1{
  color: white;
  font-size: 1.5vw;
  font-weight: 600;
}
.nav-divider{
  display: flex;
  width: 11vw;
  height: 2px;
  background-color: white;
  justify-content: center;
  margin-left: 2vw;
}
.nav-links{
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 15vw;
  margin-top: 2vh;
}

.nav-item:hover{
  font-weight: 600;
  cursor: pointer;
}

.nav-item{
  display: flex;
  align-items: center;
  width: 15vw;
  height: 5vh;
  margin-left: 2vw;
  margin-top: 1vh;
  font-size: 1.5vw;
  color: white;
}
.nav-item p{
  margin-left: 1vw;
}

.nav-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 15vh;
}

.logOut-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 10vw;
  height: 5vh;
  margin-top: 2vh;
  font-size: 1.5vw;
  color: white;
  background-color: var(--secondary);

}
.logOut-btn:hover{
  background-color: var(--accent);
  cursor: pointer;

}

.signupbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3772da;
  border-radius: 25px;
  text-transform: none;
  height: 5vh;
  width: 20vw;
}

.signupbtn:hover {
  background-color: var(--accent);
  cursor: pointer;
}

/*LOGIN PAGE*/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.logpagelink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


/*SIGNUP PAGE*/
.signcontainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.loginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #3772da;
  border-radius: 25px;
  text-transform: none;
}

.loginbtn:hover {
  background-color: var(--accent);
  cursor: pointer;
}

.formcontainer {
  height: 70vh;
  width: 30vw;
  align-items: center;
}

.googlebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 25px;
  text-transform: none;
}

.googlebtn:hover {
  background-color: beige;
  cursor: pointer;
}

